/* Navbar styling */

body nav {
    background-color: #660d98;
    color: #e8fdff;
    position: fixed;
    overflow: auto;
    z-index: 1030;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 2em;
    height: 100px;
}

#nav-bar .logo{
  float: left;
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-left: 10px;
}

#nav-bar .header {
  float: left;
  font-size: 2.6em;
  margin-left: 10px;
  line-height: 80px;
  margin-top: 14px;
  color: whitesmoke;
}

.edit-icon {
  float: left;
  margin-left: 7px;
}

.compose-button {
  float: right;
  border-radius: 7px;
  border: 1px solid black;
  margin-top: 23px;
  margin-right: 30px;
  width: 130px;
  height: 60px;
  color: purple;
  background-color: #f1fbf9;
  opacity: .9;
  font-size: 125%;
}

.compose-button:hover {
  opacity: 1;
  background-color: #F5F3F3;
  color: black;
}

.compose-button:hover .edit-icon{
  color: black;
}