
/*new tweet entire box*/
.new-tweet {
  background-color: #eee;
  padding: 10px 1em;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 2em 2em 1em;

}

/*header*/
.new-tweet h2 {
  margin: 0 0 10px;
  border: grey;
  border-bottom: 1px solid;
}

/*text entry*/
.tweet-text {
  padding: 6px;
  width: 100%;
  height: 4em;
  max-width: 100%;
  min-width: 100%;
}

.error {
  color: red;
  padding-left: 10px;
  display: none;
}

#short-error {
  display: inline;
}

#long-error {
  display: inline;
}

/*footer elements*/
.counter {
  float: right;
  color: black;
}

.error-num {
  color: red;
}

.new-tweet input {
  background-color: whitesmoke;
  border: 1px solid grey;
}


