/*whole article section*/
.tweets {
  background-color: white;
  padding: 0 0 10px;
  margin: 2em;
  border: 1px solid lightgrey;
  border-radius: 11px;
  opacity: 0.8;
}

.tweets:hover {
  opacity: 1;
  border: 1px solid grey;
}

/*header elements*/
.tweets header {
  height: 50px;
  background-color: #eee;
  padding: 0 1em 0 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.tweeter-img {
  float: left;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.tweets h2 {
  margin: 0;
  padding: 10px 0 10px 10px;
  border: grey;
  float: left;
}

.handle {
  padding: 16px 0 5px;
  float:right;
  margin: 0;
}

/*tweet text*/
.tweet-body {
  width: 100%;
  padding: 0 1em;
  overflow-wrap: break-word;
}



/*footer elements*/
.tweets footer {
  border-top: 2px solid #eee;
  height: 15px;
}

.created-at {
  float:left;
  margin: 0;
  padding: 4px 0 0 6px;
  font-size: .8em;
}

.icon {
  width: 0;
}
.tweets:hover .icon {
  float: right;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin: 0 3px;
  transition: 0.25s linear;
}




